body, html {
    height: 100%;
    width: 100%;
}

body {
    background: #000;
    font: 18px/1.5 'Open Sans', sans-serif;
}

h1,h2,h3 {
    font-family: 'Bree Serif', serif;
    font-weight: normal;
}

h1 {
    color: #fff;
    font-size: 40px;
    line-height: 1.4em;
    margin-bottom: 20px;
}

a {
    color: #D42F8F;
    text-decoration: none;
}
a:hover {
    color: #FF55BE;
}

p {
    margin-bottom: 20px;
}

p.big {
    font-size: 24px;
    margin-bottom: 30px;
}


.nav {

}

.container {
}


.fillL {
    background-color:#72999b;
}

.fillD {
    background-color:#3f4548;
    color:#fff;
}

.fillE {
    background-color:#eee;
}

/* Main content item */

.light {
    background:#F2EFE9;
}

.light h1 {
    color: #000;
}

.light p {
    color: #333;
}


.item .feature {
    height: 80%;
}

.item .feature iframe {
    height: 100%;
    width: 100%;
}


.textblock {
    background: url (../images/pixel.png) 0 0 repeat-y;
    color: #ddd;
    padding: 15% 20% 7.5%;
}

.illo {

}

.illo img,
.illo .filler {
    border: 2px solid white;
    border-radius: 50%;
    width: 100%;
}

.illo .filler {
    background: #ddd;
    display: block;
    height: 1px;
    padding-bottom: 100%;
}

.tab {
    font-size:16px;
    margin-bottom:1px;
    font-weight:bold;
    text-transform:uppercase;
}

.full-size {
    max-width:100%;
    min-width:100%;
}

.tab a {
    color:#eee;
}

.osm-logo {
    background-image: url(osmlab_light.png);
    background-size: auto 100%;
    background-repeat:no-repeat;
    height:180px;
}

.sprite {
    display:block;
    overflow:hidden;
    text-indent:-1000px;
}

div .tab:last-child {
    border-right:none;
}

.rel {
    position:relative;
}

/* chicago visualization */
.chicagos {
    cursor: move;
    position:relative;
    overflow:visible;
}
.chicagos, .chicagos .layer {
    height: 700px;
}
.chicagos .separator {
    border-left: 1px solid rgba(97,78,153,1);
    border-right: 1px solid rgba(97,78,153,1);
    height: 730px;
    left: -1px;
    line-height: 30px;
    overflow: visible;
    position: absolute;
    top: -30px;
    width: 2px;
    z-index: 10;
}
.chicagos .separator div {
    background: rgba(97,78,153,0.6);
    border-left: 1px solid rgba(97,78,153,1);
    color: #F2EFE9;
    font-family: 'Bree Serif', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(97,78,153,1);
    width: 100px;
    z-index: 9;
}
.chicagos .separator div.before {
    left: -100px;
    border-left: none;
    border-right: 1px solid rgba(97,78,153,1);
}


#chicago-before {
    max-width:100%;
    min-width:100%;
    position:absolute;
    background:url(../images/before-crop.jpg);
    background-size:100% auto;
}
#chicago-after {
    max-width:100%;
    min-width:100%;
    position:absolute;
    background:url(../images/after-crop.jpg);
    background-size:100% auto;
}

.diagram {
    position:relative;
    height:400px;
}

.diagram #c {
    position:absolute;
}

#handle {
    position:absolute;
    padding-top:5px;
    bottom:0px;
    background:#fff;
}

h1.big {
    background:#F6FFB4;
    color:#000;
    margin:20px 0;
    padding:10px;
    font-size:50px;
    display:none;
}

h1.big.show {
    display:block;
}

h1.big span.unit {
    font-size:50px;
}

h1.precursor, h1.postcursor {
    color:#999;
}

h1.precursor {
    margin-top:70px;
    margin-bottom:0;
}

.miles-diagram {
    background:#edefed;
    border-radius:4px;
}

.points {
    margin-top:20px;
}

.points a {
    width:20px;
    height:20px;
    display:inline-block;
    background:#999;
    border-radius:10px;
    transition:background 200ms ease-in;
}

.points a:hover,
.points a.on {
    background:#222;
}

.share-buttons {
    margin-top:10px;
}

.share-buttons .sprite {
    display:inline-block;
    background-image:url(sprite.png);
    background-size:250px 100px;
    width:25px;
    height:25px;
    opacity:0.5;
    vertical-align:middle;
    margin-right:5px;
    transition:opacity 150ms ease-in;
}

.share-buttons a {
    color:#eee;
    font-size:13px;
    text-decoration:none;
}

.share-buttons .sprite:hover,
.share-buttons a:hover .sprite {
    opacity:1;
}

.share-buttons .sprite.facebook {
    background-position:-25px 0;
}

.permalink {
    width:25px;
    height:25px;
    display:inline-block;
    background-image:url(sprite.png);
    background-size:250px 100px;
    background-position:-50px 0;
}

.permalink-link {

    z-index:999;
    /*display:inline-block;*/
    display: none;
    position:absolute;
    padding:10px;
    background:#000;
    transition:background 200ms ease-in;
}

.permalink-link:hover {
    background:#222;
}

.density {
    position:relative;
    line-height:0;
}

.density a.img {
    display:inline-block;
    position:relative;
    border:1px solid #fff;
    width:20%;
}

.density img {
    width:100%;
}

ul.colophon li {
    padding:5px 0;
}

.deemphasize a {
    color:#666;
    transition:color 100ms linear;
}

.deemphasize a:hover {
    color:#444;
}

.button {
    background:#eb6f67;
    color:#fff;
    text-align:center;
    text-decoration:none;
    border:none;
    border-radius:5px;
    font-weight:normal;
    border-bottom:1px solid #A53931;
    transition:background 100ms linear;
}

.button:hover {
    background:#EB8C85;
}

.huge {
    padding:20px 40px;
    font-size:30px;
}

.drop {
    margin-top:80px;
}

/* Section-specific */
#intro {
    background: #604D96;
}
#intro .photo {
    background: transparent url(../images/intro-splash.jpg) bottom center no-repeat;
    /*background: transparent url(../images/intro-splash2.jpg) bottom center no-repeat;*/
    /*background: transparent url(../images/intro-splash3.jpg) center center no-repeat;*/
    background-size: cover;
    padding: 30% 0 10%;
    text-align: center;
}

#intro .photo h1 {
    text-shadow: 0px 0em 3em #6D4E6A, 1px 1px 0px #1B0C32;
    line-height: 2em;
}
#intro .photo h1 small {
    display: block;
    font-size: 50px;
}
#intro .photo h1 span {
    border-top: 3px solid white;
    display: inline-block;
    font-size: 80px;
}

#intro .illo {
    margin: -7% auto 7%;
    width: 15%;
}

#intro .textblock {
    padding-top: 0;
}


@media only screen and (max-width:770px) {
    h1 {
        font-size: 30px;
    }
    p.big {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
    .illo {
        padding: 20px 100px;
    }
    .textblock {
        padding: 20px;
    }
    #intro .photo h1 small {
        font-size: 30px;
    }
    #intro .photo h1 span {
        font-size: 50px;
    }

    .density a.img {
        width:50%;
    }

    .chicagos, .chicagos .layer {
        height:200px;
    }
}

.mb-link img {
    width:64px;
    height:64px;
    opacity:0.7;
    transition:opacity 100ms linear;
}

.mb-link:hover img {
    opacity:1;
}

iframe {
    height:600px;
    width:100%;
}
