.fillL {
    background-color:#ccddc4;
}

.fillD {
    background-color:#44664a;
    color:#fff;
}

.tab {
    border-right:1px solid #fff;
    font-size:18px;
}

.tab a {
    text-shadow: 0 0 2px #fff;
}

div .tab:last-child {
    border-right:none;
}

a {
    text-decoration:none;
    color:#222;
}

.rel {
    position:relative;
}

.cartogram-image {
    width:512px;
    height:512px;
    background-size:512px 512px;
    background:url(../frames/joined.png);
}

.userlife {
    background:url(../images/user_abs.png);
    background-size:400px 800px;
    width:400px;
    height:800px;
}
