.fillL {
    background-color:#eee;
}

.dragdealer {
	position: relative;
	height: 30px;
	background: #EEE;
    max-width:100%;
}

.dragdealer .handle {
	position: absolute;
	cursor: pointer;
}

.dragdealer .red-bar {
	width: 50px;
	height: 30px;
	background: #CC0000;
	color: #FFF;
	line-height: 30px;
	text-align: center;
}

.dragdealer .disabled {
	background: #898989;
}

.cartogram-frame {
    max-width:100%;
}

.bar {
    height:20px;
    background:#e5e8dd;
}

.bar.all {
    background:#9fd285;
}

.made-one-edit {
    width:28%;
    background:#9fd285;
}

.contribute-ninety {
    width:8%;
    background:#9fd285;
}
